

.theme {
  background: #38c8e0;
}
.theme-color-text {
	color: #38c8e0;

}

.container-bg {
	background-color: #2b303382;
}

.light-bg {
	background-color: #bfbfbf47 !important;
}
.light-color {
	color: #cdd1d4  !important ;
}

.white-text {
	color: #fff !important;
}

#app {
	background: #3e4549;
	font-family: "Karla";
}
.navbar {
	background: #2b3033; 
	padding: 25px 0px 25px 0px;
}


.navbar .dropdown-menu {
	background: #2b3033eb;
    border: none;
    border-radius: 0px;
}
.navbar .dropdown-menu a{
	color: #fff !important;
}	
.navbar .dropdown-menu a:hover {
	color: #000 !important;
}

