*:focus {
    outline: none;
}
.card {
  background: none;
}

.card-body {
  background-color: #2b303382;
}
.card-header{
    background-color: #38c8e0;
    color: white;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 1rem 2rem;
 }

 #accordion .card-header {
  background-color: #bfbfbf47;
 }
 #accordion .card-header a {
  color: #cdd1d4;
 }

 a.nav-link.waves-effect.waves-light {
    color: white;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-left: 1rem;
}
a.nav-link:hover {
  background: #38c8e0;
}
.navbar-expand-lg .navbar-nav{
	margin-right: -4rem;
}
.row.justify-content-center {
    margin-top: 4%;
}
form{
}
.form-group{
	margin: 1rem 2rem;
}

/*login page*/
input#email {
    text-decoration: none;
    outline: none;
}
input:focus{
	outline: 0;
}

label#email, label#password, label#rememberme, label#name, label#confirm_password, p#forget {
    color: #ffffffa1 !important;
}



button.btn.btn-info.waves-effect.waves-light {
}


a.btn-link{
	margin-top: -1rem;
}
@media(max-width: 760px){
  input#email{
  }
  button.btn.btn-info.waves-effect.waves-light {
    width: 70%;
  }
  p#forget{
    margin-top: 1rem;
  }
   label#confirm_password{
    margin-bottom: 0rem;
   }
   label#email{
   }
   input#password-confirm{
     margin-bottom: 2rem;
   }
}
@media(max-width: 900px) and (min-width: 761px){
  input#email{
    margin-bottom: -2rem;
  }
  button.btn.btn-info.waves-effect.waves-light {
    margin-left: 1rem;
  }
  p#forget{
    margin-top: 1rem;
    margin-left: -1rem;
  }
 
}

@media (max-width: 576px) {
  .no-border {
    border-right: none !important;
  }
  .mt-sm {
    margin-top: 1.5rem;
  }
}

/* Dashboard */
a#add_site,a#add_warehouse,a#move_site,a#gen_warehouse,a#gen_site{
    margin-top: 1rem 1rem;
}
a#add_site:hover,a#add_warehouse:hover,a#move_site:hover,a#gen_warehouse:hover,a#gen_site:hover,
a#add_site:focus,a#add_warehouse:focus,a#move_site:focus,a#gen_warehouse:focus,a#gen_site:focus{
    color: #88BDBC;
}
.list-group {
  padding-left: 10px;
}
.list-group-item {
  border:none;
  color: #3e4549;
}
.list-group-item {
  background-color: none;
}

/* Add/Remove site */
h3#create {
    color: #01579b ;
    margin-top: 2rem;
    font-size: 32px;
}
input#create_text {
    padding: 0.2rem;
}
input#create_text:focus{
    border: 1px solid #00ACC1;
}
form#create_form {
    margin-bottom: 3rem;
}
table.table td{
    text-align: center;
    color: #fff;
}
table.table th{
    text-align: center;
}
a#create_stock{
    color: #fff;
    margin-top:-15px;
    font-weight: bold;
}

/* warehouse inventory */
.wh-inv.container {
  padding: 2rem 0rem;
}
.table .th-lg{
    min-width: 11rem ;
}





